@import "../../index.scss";
.badge {
  background-color: $light-red;
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  align-items: flex-start;
  margin-left: 6px;
}
.label {
  color: $black-secondary;
  margin: 0;
  @include inter-12-regular;
}
