@import "../../index.scss";
.button {
  background-color: $green-primary;
  outline: 0;
  border: 0;

  border-radius: 8px;
  padding: 16px 32px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.label {
  color: $black-primary;
  margin: 0;
  @include inter-16-semibold;
}
