@import "../../index.scss";
.section2 {
  background-color: $very-light-grey;
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: $black-primary;
  margin-bottom: 46px;
  @include inter-72-bold;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
@media only screen and (max-width: 575px) {
  .card {
    margin: 0 auto;
  }
}
