@import "../../index.scss";
.header {
  position: fixed;
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $gainsboro;
}
.container {
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.logo {
  width: 172.93px;
  height: 39px;
}
.headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menus {
  margin-right: 38px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.menuItem {
  color: $black-secondary;
  margin: 0;
  @include inter-24-regular;
  &:not(:last-of-type) {
    margin-right: 40px;
  }
}
.user {
  color: $grey-secondary;

  img {
    margin-left: 15px;
    width: 50px;
  }
}
.buttons {
  display: flex;
  align-items: flex-start;
}
.button {
  &:not(:last-of-type) {
    margin-right: 16px;
  }
}
