@import "../../index.scss";
.footer {
  background-color: $very-light-grey;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid $gainsboro;
}
.top {
  margin-bottom: 32px;
  // padding: 32px 96px;
  padding: 32px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
}
.siteMap {
  // display: flex;
  // align-items: flex-start;
}
.column {
  display: flex;
  flex-direction: column;

  // width: 149px;
  // &:not(:last-of-type) {
  //   margin-right: 80px;
  // }
}
.menuItem {
  color: $black-primary;
  align-self: stretch;
  margin-bottom: 24px;
  @include inter-24-bold;
}
.menuItemTwo {
  color: $grey-primary;
  align-self: stretch;
  @include inter-24-regular;
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}
.columnTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menuItemThree {
  color: $black-primary;
  align-self: stretch;
  text-align: right;
  margin-bottom: 24px;
  @include inter-24-bold;
}
.menuItemFour {
  width: 467px;
  color: $grey-primary;
  text-align: right;
  margin-bottom: 24px;
  @include inter-24-regular;
}
.subscriptionContainer {
  display: flex;
  // align-items: flex-start;
  // align-self: stretch;
}
.input {
  margin-right: 8px;
  flex: 1;
}
.bottom {
  // padding: 32px 96px;
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.footerLeft {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 32px;
  display: flex;
  align-items: center;
}
.frame29 {
  background-color: $very-light-grey;
  margin-right: 12px;
  overflow: hidden;
  border-radius: 4px;
  width: 30.93px;
  height: 30px;
  position: relative;
  border: 1px solid $green-primary;
}
.union {
  width: 34px;
  height: 30px;
  position: absolute;
  right: -2.07px;
  top: 0;
}
.bushlife {
  color: $green-primary;
  margin: 0;
  @include inter-32-bold;
}
.bushlifeEmphasis1 {
  color: $red-primary;
  @include inter-32-bold;
}
.menuItemFive {
  color: $black-secondary;
  margin: 0;
  @include inter-24-regular;
  &:not(:last-of-type) {
    margin-right: 32px;
  }
}
.socialIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logoLinkedin {
  width: 40px;
  height: 40px;
  &:not(:last-of-type) {
    margin-right: 24px;
  }
}
// @media only screen and (max-width: 520px) {
//   .menuItem {
//   }
//   .menuItemTwo {
//   }
// }
